// PRIMARY COLORS

$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: #6055a5;
// NEUTRAL COLORS

$darkBlue: #3e3c49;
$grayishBlue: #b9b6d3;

$bottom-box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
